.DS_Store
.idea/
.vs/
bin/
out/
build/
test_build/
cmake-build-*/
CMakeSettings.json
# Forder
.vs/*
.idea/*
x64/*
CMakeLists.txt.user
out
build
Downloads
install
*.ts
*.qm
__pycache__
Logs
PolyGuiData

# Node.js
node_modules/
package-lock.json
nomachine*

opencv
occt-vc143-64
3rdparty-vc14-64

*.spv
package
dist
OpenJDK*
RegOutput
run_reg.sh
scripts.txt

regressions/Files
WinUserSetting.cmake
launch.json
launch*.json
settings.json
filename.txt
CMakePresets.json

.VSCodeCounter/*
.DS_Store
.clangd
.clang-tidy
.clangd.sample
CMakePresets.json.sample
env.txt
resource.qrc
